<div class="form">
<%= form_with url: '/login' do |f| %>
	<%= f.text_field  :username, class: "signin", placeholder: "Username" %>
	<%= f.password_field :password, class: "signin", placeholder: "Password" %>
	<%= f.submit "Sign in",class: 'signin' %>
<% end %>
<ul class= "errors">
<% if flash[:message] %>
	<li><%= flash[:message] %></li>
<% end %>
</ul>
</div>