<div class="form">
<div class="new_artist_form">

<%= form_for @artist do |f| %>

	<%= f.text_field :name, placeholder: "name" %><br>

	<%= f.text_field :genre, placeholder: "genre" %><br>
    

	<%= f.text_field :artist_image, placeholder: "image" %><br>

	<%= f.text_area :bio, placeholder: "bio" %><br>

	<%= f.text_field :video , placeholder: "video" %><br>

  <%= f.submit "Update Artist", class: "creat_artist"%><br>
<% end %>

</div>
</div>