<div class="form">
<%= form_with model: @fan, url: '/fans', method: 'POST' do |f| %>

  <%= f.text_field :username, class: "signup", placeholder: "Username"%>
  <%= f.password_field :password, class: "signup",placeholder: "Password" %>
  <%= f.password_field :password_confirmation, class: "signup" ,placeholder: "Password Confirmation"%>
  <%= f.submit "sign up", class:'signup'%>
<% end %>

<ul class="errors">
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %> 
    <li> <%= e %> </li>
  <% end %>
<% end %>
</ul>
</div>
