<div class="wishlist">
    <h1><%="#{@fan.user_name_capitalize}'s"%> wishlist</h1>
    <br>
    <p> you've added <%=@fan.total_wishlist %> festivals to your wishlist: </p>
    
  
    <br>
        <%= form_tag fan_path(@fan), method: :get do %> 
        <%= submit_tag "sort", name: :sort%>
        <% end %>
 x

    <div class='title'> 

    
        <%  @fanfestivals.each do |festival| %>
            <h3><%=    link_to festival.name, festival %> </h3>
           <p id="img_fan_page" > <%= link_to image_tag(festival.image_url), festival %></p>
           <% if !@fan.find_comment(festival).nil? %>
            <p class="data"> Your comment:    <%=@fan.find_comment(festival)%> <p>
            <br>
            <%  end %>
            <%  end %>

        <br>
    </div>
</div>


