<div class="wishlist">
    <h1><%="#{@fan.user_name_capitalize}'s"%> wishlist</h1>
    <br>
    <p> you've added <%=@fan.total_wishlist %> festivals to your wishlist: </p>
    
    <br>
    <a href="/alphabetical"> view alphabeticaly <a>
 
    <div class='title'> 

    
        <%  @fan.most_recent.collect do |festival| %>
            <h3><%=    link_to festival.name, festival %> </h3>
           <p id="img_fan_page" ><%= link_to image_tag(festival.image_url), festival %></p>
            <p class="data"> Your comment:    <%=@fan.find_comment(festival)%> <p>
            <br>
            <%  end %>

        <br>
    </div>
</div>


