<div id="festivals_show"
  <div class="festival_show"> 
    <h1 class="festival_show"><%= @festival.name%></h1>
    <div class="festival_info">
      <div class="festival_description">
        <p class="festival_description"> Location: </p> <%= @festival.location %><br>
        <p class="festival_description"> Starts at:</p> <%=@festival.start_date.strftime("%m/%d/%Y")%> <br>
        <p class="festival_description"> Duration: </p> <%=@festival.duration%> days. <br>
      </div>
      <div class="festival_description">
        <p class="fes_title"> <%= @festival.description%> </p>
        <img src="<%=@festival.image_url%>" alt= "" >
      </div>
       
      
    <br>
        <ul class="festivals_artist">
        <% @festival.artists.uniq.each do |artist|%>
            <li class="festival_info"> <%= link_to artist.name, artist%> </li>
        <% end%>
        </ul>
       
    </div>
        <div class="festival_wishlist">
          <%if @current_fan != nil %>
              <% if @favorite_id.blank? %>
                  <%= button_to 'Add to Wishlist', festival_favorites_path(@festival), method: :post %>
                  <% else %>
                  <%= form_with model: @favorite, url: festival_favorite_path(@festival, @favorite_id), method: :patch do |f|%>
                  <%= f.text_area :comment, placeholder: "Add comment here"%>
                <%= f.submit%>
              <% end %>
            <%= button_to 'remove from Wishlist', festival_favorite_path(@festival, @favorite_id), method: :delete %>
          </div>
          

  </div>
    <% end %>
</div>
<% end %>




<% if flash[:notice] %>
<%= flash[:notice] %>
<%end %>

<br>

</div>
