<h1><%= @festival.name%></h1>
<b>location:</b> <%= @festival.location %>
<br>

<b> Starts at:</b> <%=@festival.start_date.strftime("%m/%d/%Y")%> <b> duration:</b> <%=@festival.duration%> days.
<br>

<% @festival.artists.uniq.each do |artist|%>

    <%= link_to artist.name, artist%>
<% end%>


<p><%= @festival.description%></p>



<img src="<%=@festival.image_url%>" alt= "" width=75% >

