<!DOCTYPE html>
<html>
  <head>
  
    <title>FavFest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@515&display=swap" rel="stylesheet">

  <body>
  <%= render :partial => 'festivals/nav' %>
   <%= render :partial => 'festivals/search_box' %>
  
  <% if session[:user_id] %>
  <p>Hi <%=Fan.find(session[:user_id]).username %>! to get started why don't you check out some of these festivals?<p>
  <% end %>
  <main> <%= yield %>  </main>


  </body>
</html>

